* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 80px;
}

.logo {
    display: block;
    color: #000;

    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;

    &__item {
        padding-right: 46px;

        &:last-child {
            padding: 0;
        }

        &__anchor {
            color: #000;

            font-family: 'Oswald';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.home {
    height: 622px;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        color: #fff;
        font-family: 'Oswald'; 
        font-style: normal; 
        font-weight: 700;
        font-size: 60px; 
        line-height: 89px;
        margin-bottom: 7px;
    }

    &__line {
        width: 80px;
        height: 10px;
        background-color: #817070;
    }
}